name: deploy-mkdocs
on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

#      - run: pip install -r requirements.txt
      - run: pip install mkdocs mkdocs-material

      # requirements.txt에 mkdocs, (material 쓰면 mkdocs-material) 포함

      - run: mkdocs gh-deploy --force
